<div class="row">
  <div class="col-xs-6 col-md-3 col-md-offset-3">
    <h2>My task</h2>
  </div>
  <div class="col-xs-6 col-md-3 text-right">
    <h2><%= link_to "Back to index", tasks_path, class: "btn btn-primary" %></h2>
  </div>
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-heading"><h3>
        <%= @task.name %>
        <% if @task.done  %>
          <span class="badge done">
            <i class="fa fa-check" aria-hidden="true"></i>
          </span>
        <% else %>
          <span class="badge notdone">
            <i class="fa fa-times" aria-hidden="true"></i>
          </span>
        <% end %>
      </h3></div>
      <div class="panel-body">
        <%= @task.description %>
      </div>
      <div class="panel-footer">
        <%= link_to "Edit", edit_task_path(@task), class:"btn btn-primary" %>
        <%= link_to "Delete", task_path(@task),
              class:"btn btn-danger",
              method: :delete,
              data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>
